extends layout

block content
    div#dashboard
        h1= message
        h2= sub_message
        input( v-model='hello' )
    div#app

block script        	
    script( src='/js/vendor.js' )
    script( src='/js/'+ route +'.js' )
