extends layout

block content
    div#dashboard
        h1= message
        h2= sub_message
    div#app

block script        	
    script( src='/static/js/vendor.js' )
    script( src='/static/js/'+ route +'.js' )