extends ../layout

block content
    .row
        for item in dashBoardList
            .col-sm-6.col-md-4
                .panel.panel-default
                    .panel-body.pointer( onclick= `window.location='${item.link}'` )
                        h2= item.title
                        p= item.desc