extends ./layout

block stylesheet
    link(rel='stylesheet', href='/static/css/'+ route +'.css')

block content

block script
    script( src='/static/js/vendor.js' )
    script( src='/static/js/'+ route +'.js' )